# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [118]:
# import libraries

import sys
import pandas as pd
from sqlalchemy import create_engine

In [119]:
# load messages dataset
messages_df = pd.read_csv("messages.csv")
messages_df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [120]:
# load categories dataset
categories_df = pd.read_csv("categories.csv")
categories_df.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [121]:
# merge datasets
df = categories_df.merge(messages_df, left_on='id', right_on='id')
df.head()

,id,categories,message,original,genre
0,2,related-1;request-0;offer-0;aid_related-0;medi...,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,related-1;request-0;offer-0;aid_related-1;medi...,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,related-1;request-0;offer-0;aid_related-0;medi...,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,related-1;request-1;offer-0;aid_related-1;medi...,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,related-1;request-0;offer-0;aid_related-0;medi...,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. 
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [122]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';',expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [123]:
# select the first row of the categories dataframe
row = categories.loc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
categories_colnames = row.str[:-2].tolist()
print(categories_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [124]:
# rename the columns of `categories`
categories.columns = categories_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [125]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1:].astype('int32')

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [126]:
# drop the original categories column from `df`
df.drop(columns="categories", inplace=True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [127]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df,categories], axis = 1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [128]:
# check number of duplicates
print(str(df[df.duplicated()].shape[0])+" duplicates left / "+str(df.shape[0]))

170 duplicates left / 26386

In [129]:
df[df.duplicated()]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
165,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
658,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
714,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1414,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1416,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2139,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2140,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2141,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2803,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2804,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2805,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2837,3250,I thought you gave my number and this was seri...,Mwen tepanse le nou tebay nimewo a se yon afse...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2839,3250,I thought you gave my number and this was seri...,Mwen tepanse le nou tebay nimewo a se yon afse...,direct,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3388,3882,"I am in Carefour Feuilles, Dkayet neighborhood...",Mwen nan kafou fy zon dekayt nou beswen dlo po...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3390,3882,"I am in Carefour Feuilles, Dkayet neighborhood...",Mwen nan kafou fy zon dekayt nou beswen dlo po...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
3868,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3869,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3870,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4359,4956,"What we saw yesterday is a sign, you need to k...",a nou w la yo se sign yoy ou bezwen kon sa Jez...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4361,4956,"What we saw yesterday is a sign, you need to k...",a nou w la yo se sign yoy ou bezwen kon sa Jez...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4542,5153,there are people in Delmas 32 who form an asso...,Ginyin yon paket moun delmas 32 ki forme organ...,direct,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4544,5153,there are people in Delmas 32 who form an asso...,Ginyin yon paket moun delmas 32 ki forme organ...,direct,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4652,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4653,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4654,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4917,5573,"If I would like to find a job in cepoz, what s...",Si mwen ta renmen jwen travay nan cepoz ki sa ...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20073,23229,* German Agro Action (GAA) reported that in th...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20990,24247,"As we approach Luabo, I get my first impressio...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20992,24247,"As we approach Luabo, I get my first impressio...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
21082,24347,In response to North Korea's devastating artil...,NaN,news,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
21084,24347,In response to North Korea's devastating artil...,NaN,news,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
21477,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21478,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21479,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21480,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21481,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21482,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21483,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21484,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22152,25512,The flood situation has worsened with nearly 3...,NaN,news,1,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
22154,25512,The flood situation has worsened with nearly 3...,NaN,news,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
23736,27296,The regime says the charter will clear the way...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23737,27296,The regime says the charter will clear the way...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23738,27296,The regime says the charter will clear the way...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24168,27768,An EU-backed French offensive against rebels r...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24170,27768,An EU-backed French offensive against rebels r...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24778,28462,"To date, a total of 39 people suffering from E...",NaN,news,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
24780,28462,"To date, a total of 39 people suffering from E...",NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
24988,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24989,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24990,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25290,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25292,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25378,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25379,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25380,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [131]:
# check number of duplicates
print(str(df[df.duplicated()].shape[0])+" duplicates left / "+str(df.shape[0]))

0 duplicates left / 26216

In [132]:
df.loc[12100:12200]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
12100,13896,http://twitpic.com/18uv8k - [Pics before the e...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12101,13897,http://twitpic.com/18uvbv - [Pics before the e...,NaN,social,1,0,0,1,1,0,...,0,1,1,1,0,0,0,0,0,0
12102,13898,http://twitpic.com/18uvm6 - [Pics before the e...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12103,13899,RT ickybuck: My friend @franginnini lives in S...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12104,13900,Another strong aftershock in the south of Chil...,NaN,social,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
12105,13901,piabm where are you in santiago?,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12106,13903,evaxo hey! Everything's getting back to normal...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12107,13906,"scary night: 6,9 richter at 23.22 in concepcio...",NaN,social,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
12108,13907,aio_gattuso to ouvindo Guilherme & Santiago. S...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12109,13908,Woke up to dream of SF being destroyed by eart...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12110,13909,"earGrylls well Bear, i recommend to you came t...",NaN,social,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
12111,13910,rinaVG Hi Sweetie! Miss u to! Got stock in San...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12112,13911,Ocean & Earth shop inside the Omnium mall in L...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12113,13912,"Live on AIR from Santiago, CHile with the best...",NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12114,13913,Reserve your Saturday evening for the Santiago...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12115,13914,Falta tan tan poco.. ¬¨¬¥Simply Red - Holding ...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12117,13914,Falta tan tan poco.. ¬¨¬¥Simply Red - Holding ...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12119,13915,Santiago Chile has been rescheduled to Saturda...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12120,13917,"arrived from Santiago, I have classes at 5:30,...",NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12121,13918,"T-3 days to return to Santiago, Chile! OMFG OM...",NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12122,13921,Arriving to Santiago after visiting the coast ...,NaN,social,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12123,13922,"Well, I graced the last year of my 30's in San...",NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12124,13923,"It took some time, but I finally found a sport...",NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12125,13924,In the santiago metro people really do give th...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12126,13925,In Santiago for several meetings ..friday go b...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12127,13926,"Guns N' Roses, Nelly Furtado, and A-HA are in ...",NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12128,13927,http://www.flannerys.cl/\n\nlook that! this is...,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12129,13928,"We are ok, the shake modifies our routes, but ...",NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12130,13929,"Starting to pack everything, ready to go back ...",NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12131,13930,RT elyahwilliams: Santa Cruz is a nice place.....,NaN,social,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12171,13981,"In our village kachipul, flood has caused lot ...",hmre vilage kachipul men flood ne bht nuksan k...,direct,1,1,0,1,0,0,...,0,1,1,1,0,0,0,0,0,1
12172,13982,In our village Kachipur flood has done great d...,hmre vilage kachipul men flood ne bht nuksan k...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12173,13983,In our village Kachipul Flood has deformed it ...,hmre vilage kachipul men flood ne bht nuksan k...,direct,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12174,13991,HOW MUCH DOES THIS COST TO THE FLOOD AFFECTEE?,a,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12175,13992,We are 17 people. Our house has been immersed(...,Hum 17 Log hain Hamara Ghar Dobh Gaya hai Aur ...,direct,1,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,1
12176,13993,We have 17 of the Bodh Gaya and mall it to our...,Hum 17 Log hain Hamara Ghar Dobh Gaya hai Aur ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12177,13994,hum 2 bhaiyon ny flood sy 1 mounth pehly shadi...,2 1 ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12178,13995,WE ARE 2 BROTHERS. WE GOT MARRIED 1 MONTH BEFO...,hum 2 bhaiyon ny flood sy 1 mounth pehly shadi...,direct,1,1,0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
12179,13996,We both brothers got married one month before ...,hum 2 bhaiyon ny flood sy 1 mounth pehly shadi...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12180,13997,WE TWO BROTHERS MARRIED ONE MONTH BEFORE THE F...,hum 2 bhaiyon ny flood sy 1 mounth pehly shadi...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12181,14000,"WE NEED BLANKETS, VESSELS- khaime hafiz rafiq ...",hum ko imdad cheya kambal birtan khaime hafiz ...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
12182,14002,We Panel khima D Sir I have the scar I have a ...,Hum ko khima de do sir cho pane ko sanawan kot...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12183,14003,I want help because I have cold,mujhe sardi ki waja se madat ki zaroorat hai,direct,1,1,0,1,1,0,...,0,0,1,0,0,0,0,1,0,1
12184,14004,We need help because of cold climate,hum ko sardi ki waja se madad ki zaroorat he,direct,1,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
12185,14005,There is a big loss for us in the flood. The w...,HUMARA SELAB MEIN BAHUT NOKSAN HUWA. MERI BETI...,direct,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12186,14006,Flood has done a lot of damage to us. My daugh...,humra flood min bht noksan hoa meri beti ki sh...,direct,1,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,1
12187,14007,When will you issue 2nd installment of watan c...,WATAN.CARD ki dosri qist kab jari ho gi. KotAd...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12188,14008,WATAN.CARD ki dosri qist kab jari ho gi. KotAd...,. . . a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12189,14010,When will you issue 2nd installment of country...,WATAn.ki dosri qist kab jari ho gi.,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12190,14011,When will the second phase of WATAn will be di...,WATAn.ki dosri qist kab jari ho gi.,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12191,14012,when the second installation of watan card wil...,NaN,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12192,14026,. Safiullah fadr a muhmmad shfi,NAME.. Safiullah fadr a shfi,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12193,14027,how are you ? what is your name ?,a,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12194,14052,bary mherbani meri madad ke jayee gaoon Gul kh...,Please Help me vellage Gul khan laghari Talkio...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12195,14053,"Please Help me. . village - Gul khan laghari, ...",Please Help me vellage Gul khan laghari Talkio...,direct,1,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
12196,14054,NuFI H H K Please Help me vellage Gul khan lag...,NAAM. NUFI H H K MERI MADAD KARO. GAON. GUL KH...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12197,14057,I am a poor man i have youngr children But the...,"youngr , receve c.n.i...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12198,14058,I am a poor man i have youngr children But the...,Mai ka garaba dam ham mai youngr bacc ki hai l...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12199,14059,I am a poor man i have youngr children But the...,Mai gareeb admee hoo mujhe chote bal bacche ha...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12200,14065,( Alaikum) U / C Rojhan Sharqi Rojhan ...,(A Alaikum) Dilbar U / C Sharqi Dist ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
#check for missing tweets
df[df['message'].isna()]

Empty DataFrame
Columns: [id, message, original, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 40 columns]

In [134]:
# Check for tweets that may not be null, but are blank (i.e check for tweets with just spaces)
for index,value in enumerate(df['message']):
    if value.isspace():
        print(index)
        print(value)

12206

12243

In [135]:
df.describe()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26216.00000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,...,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000
mean,15224.82133,0.773650,0.170659,0.004501,0.414251,0.079493,0.050084,0.027617,0.017966,0.032804,...,0.011787,0.043904,0.278341,0.082202,0.093187,0.010757,0.093645,0.020217,0.052487,0.193584
std,8826.88914,0.435276,0.376218,0.066940,0.492602,0.270513,0.218122,0.163875,0.132831,0.178128,...,0.107927,0.204887,0.448191,0.274677,0.290700,0.103158,0.291340,0.140743,0.223011,0.395114
min,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7446.75000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15662.50000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22924.25000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30265.00000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [136]:
#input since only a minority of columns are 2, and 1 has a vast majority it's most likely 1s

df.groupby('related').count()

,id,message,original,genre,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,,,,,,,,,,,,,,,,,,,,,
0,6122,6122,3395,6122,6122,6122,6122,6122,6122,6122,...,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122
1,19906,19906,6643,19906,19906,19906,19906,19906,19906,19906,...,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906
2,188,188,132,188,188,188,188,188,188,188,...,188,188,188,188,188,188,188,188,188,188

In [137]:
df['related'] = df['related'].map(lambda x: 1 if x == 2 else x)

In [138]:
df.groupby('related').count()

,id,message,original,genre,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,,,,,,,,,,,,,,,,,,,,,
0,6122,6122,3395,6122,6122,6122,6122,6122,6122,6122,...,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122
1,20094,20094,6775,20094,20094,20094,20094,20094,20094,20094,...,20094,20094,20094,20094,20094,20094,20094,20094,20094,20094

In [139]:
print(str(df[df.duplicated()].shape[0])+" duplicates left / "+str(df.shape[0]))

1 duplicates left / 26216

In [140]:
# drop duplicates from fixing related column
df.drop_duplicates(inplace=True)

### 7. Save the clean dataset into an sqlite database.

In [141]:
engine = create_engine('sqlite:///disaster_records.db')
df.to_sql('disaster_records', engine, index=False)